/*
CSS For ANC331
    Sections Are Organized By Aplphabetical Order, 
    Elements>ID>Class>Extra.
    
    Origonal file by TheBanHammer and his team, modded by CSxKING
    https://electricgaming.ga/ncs/
*/

/************/
/*ANIMATIONS*/
/************/

@keyframes fadein {
    from {
        opacity:                0;
    }
    to {
        opacity:                1;
    }
}

@keyframes tilt {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    33% {
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    66% {
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -o-transform: rotate21deg;
        transform: rotate(2deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


/**********/
/*APP-LEFT*/
/**********/

#app-left {
    position:                   absolute;
    top:                        51px;
    z-index:                    2;
    width:                      calc(100% - 400px);
    height:                     calc(100% - 102px);
}
/* Idk what this is */
#dance {
    overflow:                   hidden;
    text-align:                 center;
    vertical-align:             middle;
    margin:                     50px auto 0 auto;
    z-index:                    2;
    width:                      854px;
    height:                     calc(100% - 552px);
}

/* Background image */
#img{
    position:                   absolute;
    z-index:                    -5;
    background-image:           url("http://electricgaming.ga/ncs/img/plugwall.jpg");
    background-size:            cover;
    background-position:        center;
    height:                     100%;
    width:                      100%;
}

/* Video player */
#player {
    margin:                     0 auto;
    background:                 #0a0a0a;
    width:                      854px;
    height:                     480px;
    z-index:                    2;
    box-shadow:                 0px 0px 30px 20px rgba(0,0,0,0.7);
    text-align:                 center;
    vertical-align:             middle;
    line-height:                450px;
    position:                   relative;
    font-size:                  x-large;
    font-weight:                bold;
    
}

/* Video thats played */
#video{
    position:                   absolute;
    top:                        0;
    left:                       0;
}
/* Volume Stuffs */
#volume {
    z-index:                    3;
    top:                        19px;
    position:                   absolute;
    float:                      right;
    right:                      555px;
    padding:                    0px;
    margin:                     0px;
}

#volumePercent {
    z-index:                    -1;
    top:                        15px;
    position:                   absolute;
    float:                      right;
    right:                      520px;
}

.media-info {
    display:                    inline-block;
    text-align:                 left;
    float:                      left;
    margin-left:                50px;
    margin-top:                 5px;
}

.media-info>div>div{
    display:                    inline-block;
}

.media-title {
    width:                      80px;
}

/***********/
/*APP-RIGHT*/
/***********/

#app-right {
    position:                   absolute;
    z-index:                    1;
    right:                      0;
    background:                 #0a0a0a;
    width:                      400px;
    top:                        50px;
    bottom:                     50px;
    box-shadow:                 0px 0px 30px 20px rgba(0,0,0,0.7);
}

/* The Chat! */
#chat {
    position:                   absolute;
    z-index:                    0;
    overflow-x:                 hidden;
    overflow-y:                 auto;
    word-wrap:                  break-word;
    height:                     calc(100% - 40px);
    width:                      100%;
    font:                       14px 'Noto Sans', sans-serif !important;
    /* Experimenting.... */
    
    text-shadow: 0 0 0.9px #28C2B9;
    /* Warning! Don't ever enable the two shadow sets below, they make chat look awful!
    /* box-shadow			10px 10px 5px #888888; */
    /* text-shadow: 		0 0 2px #44B3BB, 0 0 2px #368F96; */
}

/* Chat Hover */
#chat:hover {
	/* background-color: 		#1c1f25; */
	/* color:			#0092A8; */
}

/* Messages.... */
#messages {
    margin:                     0;
    padding:                    0;
}

#messages .cm {
    padding:                    7px 15px;
    animation:                  fadein 0.30s;
    position:                   relative;
    background:			#2A2A2A;
}

#messages .cm:nth-child(odd) {
    background:                 #424242;
}

#messages .cm:hover div.msg-del {
    display:                    block;
    border-color:		#45E0FF;
}

#messages .msg-del {
    display:                    none;
    position:                   absolute;
    right:                      -6px;
    top:                        25px;
    text-overflow:              inherit;
    width:                      85px;
    text-align:                 center;
    cursor:                     pointer;
}

#messages .cm:hover div.msg-del {
    display:                    block;
}

#messages .msg-del {
    display:                    none;
    position:                   absolute;
    right:                      -6px;
    top:                        25px;
    text-overflow:              inherit;
    width:                      85px;
    text-align:                 center;
}
/* The "Type a message and hit enter" message box. 
#msg-in {
	border:2px solid #456879;
	border-radius:10px;
	height: 15px;
	width: 350px;
}
*/

#chat-button {
    width:                      123px;
    font-size:                  20px;
    background-color:       #b500ba;
}

#users {
    position:                   absolute;
    z-index:                    2;
    overflow-x:                 hidden;
    overflow-y:                 auto;
    height:                     calc(100% - 40px);
    width:                      100%;
    display:                    none;
}

#users-button {
    width:                      123px;
    font-size:                  20px;
    left:                       125px;
    background-color:           #8300ba;
}

#waitlist-button {
    width:                      148px;
    font-size:                  20px;
    left:                       250px;
    background-color:           #166fc7;
}

/* Custom Waitlist Join Box Styling */
#waitlist-join {

}

#waitlist {
    display:                    none;
    position:                   absolute;
    z-index:                    2;
    overflow-x:                 hidden;
    overflow-y:                 auto;
    word-wrap:                  break-word;
    height:                     calc(100% - 40px);
    width:                      100%;
    font:                       14px 'Not Sans', sans-serif !important;
}

/* Custom YT Box Styling 
#song-in {
	border:2px solid #456879 !important;
	border-radius:10px !important;
	height: 15px !important;
	width: 350px !important;
}
*/

#chat .msg {
    clear:                      both;
    margin-left:                30px;
    /* padding-top:                5px; */
}

#chat .msg-timestamp {
    float:                      right;
    font-size:                  11px;
    color:                      #424242;
}

#chat .msg a, #chat .log a{
    color:                      #009cdd;
}

#chat .msg img {
    max-width: 100%;
    max-height: 400px;
}

#user-name,#pass-word {
    width:                      180px !important;

}

#waitlist {
    display:                    none;
}

/* Chat Suggestons. (Eg. @ing a user.) */
#chat-suggestion {
    display:                    none;
    position:                   absolute;
    bottom:                     45px;
    background-color:           #0a0a0a;
    height:                     20px;
    width:                      380px;
    text-align:                 left;
    color:                      white;
    border:                     1px #1B1B1B solid;
}

/* Message Form */
#msg-form {
    display:                    none;
}

/* Textboxes!!! */
input[type="text"] {
  height: 16px !important;
  padding: 8px 12px !important;
  font-family: "Lato", Helvetica, Arial, sans-serif !important;
  font-size: 15px !important;
  line-height: 1.467 !important;

  border: 2px solid #bdc3c7 !important;
  border-radius: 6px !important;
  box-shadow: none !important;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear !important;
          transition: border .25s linear, color .25s linear, background-color .25s linear !important;
  }

  input[type="text"]:hover {
    height: 16px !important;
    padding: 8px 12px !important;
    font-family: "Lato", Helvetica, Arial, sans-serif !important;
    font-size: 15px !important;
    line-height: 1.467 !important;
    border: 2px solid #00E6E6 !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear !important;
            transition: border .25s linear, color .25s linear, background-color .25s linear !important;
    }

  input[type="text"]:active {
  height: 16px !important;
    padding: 8px 12px !important;
    font-family: "Lato", Helvetica, Arial, sans-serif !important;
    font-size: 15px !important;
    line-height: 1.467 !important;
    border: 2px solid #00E6E6 !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear !important;
            transition: border .25s linear, color .25s linear, background-color .25s linear !important;	
  }
  

/* NCS Text Boxes */
#NCS-yt-search-query {
   height: 11px;
  padding: 8px 12px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  border: 2px solid #00E6E6;
  border-radius: 6px;
  box-shadow: none;
}

#NCS-yt-search-query:hover {
      height: 11px;
  padding: 8px 12px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  border: 2px solid #00E6E6;
  border-radius: 6px;
  box-shadow: none;
}

/* ANS Menu */
.ans-menu {
	display: none;
	position: absolute;
	bottom: 52px;
	background-color: #0a0a0a;
	height: 80px;
	width: 200px;
	color: gray;
	border: 2px #1B1B1B solid;
	text-align: left;
}

/* Scroll Bars! */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #bab5b5;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cdcdcd;
}
::-webkit-scrollbar-thumb:active {
  background: #cbc9c9;
}
::-webkit-scrollbar-track {
  background: #5d5d5d;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.app-right-selector {
    position:                   absolute;
    text-align:                 center;
    background-color:           #565656;
    border:                     1px #0a0a0a solid;
    cursor:                     pointer;
}

.app-right-selector.selected {
    background-color:           #0a0a0a;
}

.chat-suggestion-list {
    padding:                    0px 12px;
}

.selected {
    background-color:           rgba(28, 31, 37, 0.7);
}

/*VIP*/
.uname.rank-1{
    color:                      #1bbc5f !important;
}

/*RDJ*/
.uname.rank-2{
    color:                      #547bc9 !important;
}

/*Bouncer*/
.uname.rank-3 {
    color:                      #626cbc !important;
}

/*Manager*/
.uname.rank-4{
    color:                      #7854a9 !important;
}

/*Co-Host*/
.uname.rank-5{
    color:                      #87449c !important;
}

/*Host*/
.uname.rank-6{
    color:                      #923892 !important;
}

/*Dev*/
.uname.rank-10{
    color:                      #1eb6e7 !important;
}

.cm .uname{
    float:                      left;
    color:						#993366;
}

.uname {
    position: relative;
    bottom: 6px;
    font-weight:                bold;
    margin-right:               5px;
    color:                      #777f92;
}

.userlist-user{
    margin:                     10px;
}

.deleted-chat{
    opacity:                    0.3;
}

.mention{
	background: -webkit-linear-gradient(160deg, rgba(255,0,174,0.10) , rgba(0, 0, 0, 0)) !important;
    background: -o-linear-gradient(160deg, rgba(255,0,174,0.10) , rgba(0, 0, 0, 0)) !important;
    background: -moz-linear-gradient(160deg, rgba(255,0,174,0.10) , rgba(0, 0, 0, 0)) !important;
    background: linear-gradient(160deg, rgba(255,0,174,0.10) , rgba(0, 0, 0, 0)) !important;
}

#messages .cm:nth-child(odd).mention {
	background: -webkit-linear-gradient(160deg, rgba(255,0,174,0.10) , rgba(28, 31, 37, 0.7)) !important;
    background: -o-linear-gradient(160deg, rgba(255,0,174,0.10) , rgba(28, 31, 37, 0.7)) !important;
    background: -moz-linear-gradient(160deg, rgba(255,0,174,0.10) , rgba(28, 31, 37, 0.7)) !important;
    background: linear-gradient(160deg, rgba(255,0,174,0.10) , rgba(28, 31, 37, 0.7)) !important;
}


#uname {
 position: relative;
 bottom: 12px;
}

.admin {
    color:                      #009CDD;
}

.mod {
    color:                      #89BE6C;
}

.log {
    color:                      #bbb;
}

/*

.log {
    color:                      #A72690;
    font-weight:                600;
}

.log .uname {
    color:                      #D012C0 !important;
}

*/

.system {
    color:                      #F46B40;
}

.hidden {
    display:                    none;
}

.clickable {
    cursor:                     pointer;
}

.icon{
    top:                        2px;
    left:                       -3px;
    position:                   relative;
    float:                      left;
    height:                     15px;
    width:                      15px;
}

/*VIP*/
.icon-rank-1 {
    background:                 url("http://i.imgur.com/HWucg1I.png") !important;
}

/*RDJ*/
.icon-rank-2 {
    background:                 url("http://i.imgur.com/EBEFOAY.png") !important;
}

/*Bouncer*/
.icon-rank-3 {
    background:                 url("http://i.imgur.com/jA7CGAX.png") !important;
}

/*Manager*/
.icon-rank-4 {
    background:                 url("http://i.imgur.com/bebMb8k.png") !important;
}

/*Co-Host*/
.icon-rank-5 {
    background:                 url("http://i.imgur.com/JOlqRg9.png") !important;
}

/*Host*/
.icon-rank-6 {
    background:                 url("http://i.imgur.com/JOlqRg9.png") !important;
}

/*Dev*/
.icon-rank-10 {
    background:                 url("http://i.imgur.com/WNaG27h.png") !important;
}

.wl-position {
    float:                      left;
    margin-right:               5px;
}

/********/
/*INPUTS*/
/********/

input[type=range] {
  -webkit-appearance: none;
    width:                      100px;
    cursor:                     pointer;
    margin:                     25px;
}

input:focus {
  outline:                      none;
}

input[type=range]::-webkit-slider-runnable-track {
  width:                        100px;
  height:                       3px;
  background:                   #444A59;
}

input[type=range]::-webkit-slider-thumb {
  height:                       12px;
  width:                        12px;
  border-radius:                10px;
  background:                   #ddd;
  -webkit-appearance:           none;
  margin-top:                   -4px;
}

input[type=range]::-moz-range-track {
  width:                        150px;
  height:                       3px;
  background:                   #444A59;
}

input[type=range]::-moz-range-thumb {
  box-shadow:                   1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border:                       1px solid #000000;
  height:                       36px;
  width:                        16px;
  border-radius:                3px;
  background:                   #ffffff;
}

input[type=text] {
    width:                      360px;
    background:                 #444A59;
    border:                     none;
    border-radius:              4px;
    height:                     20px;
    padding:                    6px 12px;
    font-size:                  14px;
    color:                      #ddd;
}

input[type=password] {
    width:                      360px;
    background:                 #444A59;
    border:                     none;
    border-radius:              4px;
    height:                     20px;
    padding:                    6px 12px;
    font-size:                  14px;
    color:                      #ddd;
}

#msg-i

/***************/
/*MAIN ELEMENTS*/
/***************/

/* Look of the site body */
body {
    margin:                     0;
    padding:                    0;
    /*background:               #0a0a0a;*/
    /*color:                    #bbb;*/
    outline:                    none;
    border:                     none;
    list-style:                 none;
    font-family:                'Open Sans',sans-serif;
    font-weight:                400;
    font-size:                  14px;
    background:                 #000;
    color:                      #eee;
}

/* This is the code the the button style. Change if you know what your doing, otherwise you'll break it */
/* button {
  color: #fff !important;
  background-color: #1abc9c !important;
  }
button:hover,
button.hover,
button:focus,
button:active,
button.active,
button:active,
button.active,
button.disabled,
button[disabled],
button.disabled:hover,
button[disabled]:hover,
button.disabled.hover,
button[disabled].hover,
button.disabled:focus,
button[disabled]:focus,
button.disabled:active,
button[disabled]:active,
button.disabled.active,
button[disabled].active,
button .badge {
  color: #1abc9c !important;
  background-color: #fff !important;
  }
*/

button {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

button {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

button:hover,
button:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

button-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

button-circle:hover,
button-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

button-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

button-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

#btn-meh {
    border-top: 1px solid #F44336;
    border-right: 1px solid #F44336;
    border-left: 1px solid #F44336;
}

#logout {
 position: relative;
 bottom: 11px;
}

p {
    margin:                     8px;
    position: relative;
    bottom: 9px
}

#app {
    width:                      100%;
    height:                     100%;
}

/* Header */
.header {
    top:                        0;
    border-bottom:              1px solid #1B1B1B;
    color:						#33C4F5;
}

/* Footer */
.footer {
    bottom:                     0;
    border-top:                 1px solid #1B1B1B;
}

/* Loading */
.loading {
    position:                   absolute;
    width:                      100%;
    height:                     100%;
    background:                 #0a0a0a;
    color:                      #bbb;
    z-index:                    99;
    display:                    table;
}

/* Loading Text */
.loading .center {
    font-size:                  30px;
    display:                    table-cell;
    vertical-align:             middle;
    text-align:                 center;
}


/******/
/*NAV*/
/*****/

/* Navbar */
.navbar {
    position:                   absolute;
    width:                      100%;
    height:                     52px;
    z-index:                    4;
    left:                       0;
    margin:                     0;
    padding:                    0;
    background:                 #3D3D3D;
    vertical-align:             middle;
    text-align:                 center;
}

/* The Right of the Navbar */
.nav-right {
    float:                      right !important;
}

/* The Left of the Navbar */
.nav-left {
    float:                      left !important;
}

/* The Navbar's Text */
.nav-text {
    font-size:                  16px;
    line-height:                50px;
    vertical-align:             middle;
    text-align:                 center;
    padding:                    0 10px;
    color:						#33C4F5;
}

/* Navform */
.nav-form {
    margin:                     10px;
}

/* Navbar Title */
.nav-title {
    font-size:                  20px;
    line-height:                50px;
    vertical-align:             middle;
    text-align:                 center;
    padding:                    0 10px;
    color:						#33C4F5;
}

/**************/
/*TO BE SORTED*/
/**************/

/*.userlist-user:nth-child(odd){
    background:                 rgba(28, 31, 37, 0.7);
}*/
