@import url("https://alpha.nightcore-331.net/css/style.css");

/* App has no longer a height so it had to be changed. I'm not sure why it lost it's height suddenly */
#app {
	height: 100vh;
}

#room-title {
    background-color: transparent;
}

#img-ncs {
    background-image: url("https://i.imgur.com/zedBGq7.png");
    height: 100%;
    width: 100%;
}

#img {
  opacity: 0;
}

div#showLeft {
  background:transparent;
  border-bottom-right-radius:12px;
  cursor:pointer;
  float:left;
  font-size:40px;
  height:52px;
  width:50px;
  position: relative;
  top: 2px;
}

div#profile-settings {
    background: transparent;
    position: relative;
    bottom: 4px;
}

#room-title {
    content: url("https://i.imgur.com/1YYbTUT.png") !important;
}

/* Footer Stuff */

.navbar {
    opacity: .75;
    background-color: #042547;
    position:                   absolute;
    width:                      100%;
    height:                     52px;
    z-index:                    4;
    left:                       0;
    margin:                     0;
    padding:                    0;
    background:                 #071D34;
    vertical-align:             middle;
    text-align:                 center;

}

.nav-title {
    font-size:                  20px;
    line-height:                50px;
    vertical-align:             middle;
    text-align:                 center;
    padding:                    0 10px;
    color:						#33C4F5;
}

.experience-box {
    position: relative;
    bottom: 13px;
}

.exp-meter {
    border-radius: 7px;
    background: #0f3f70;
    padding: 1px;
}

.uk-progress-bar {
    border-radius: 7px;
    background: #1b71ca;
    padding: 1px;
}

/* Chat */
#chat {
    position:                   absolute;
    z-index:                    0;
    overflow-x:                 hidden;
    overflow-y:                 auto;
    word-wrap:                  break-word;
    height:                     calc(100% - 40px);
    width:                      100%;
    font:                       14px 'Noto Sans', sans-serif !important;
    background: #030C16;
    /* Experimenting.... */

    /* text-shadow: 0 0 0.9px #28C2B9; */
    /* Warning! Don't ever enable the two shadow sets below, they make chat look awful!
    /* box-shadow			10px 10px 5px #888888; */
    /* text-shadow: 		0 0 2px #44B3BB, 0 0 2px #368F96; */
}

/* Chat Hover */
#chat:hover {
	/* background-color: 		#1c1f25; */
	/* color:			#0092A8; */
}

#profile {
    position: relative;
    top: 5px;
}

/* Messages.... */
#messages {
    margin:                     0;
    padding:                    0;
}

#messages .cm {
    border: 1px solid rgba(0,0,0,0);
        -webkit-transition: border-color 1s ease;
    -moz-transition: border-color 1s ease;
    -ms-transition: border-color 1s ease;
    -o-transition: border-color 1s ease;
    transition: border-color 1s ease;

}

#messages .cm:hover {
 	border: 1px solid lightblue;
    -webkit-transition: border-color 1s ease;
    -moz-transition: border-color 1s ease;
    -ms-transition: border-color 1s ease;
    -o-transition: border-color 1s ease;
    transition: border-color 1s ease;
}

#messages .cm:nth-child(even) {
	background: #051628;
}

#messages .cm:nth-child(odd) {
    background: #072039;
}

#messages .cm:hover div.msg-del {
    display:                    block;
    border-color:		#45E0FF;
}

#messages .msg-del {
    display:                    none;
    position:                   absolute;
    right:                      -6px;
    top:                        25px;
    text-overflow:              inherit;
    width:                      85px;
    text-align:                 center;
    cursor:                     pointer;
}

#messages .cm:hover div.msg-del {
    display:                    block;
}

#messages .msg-del {
    display:                    none;
    position:                   absolute;
    right:                      -6px;
    top:                        25px;
    text-overflow:              inherit;
    width:                      85px;
    text-align:                 center;
}

/* Moving Stuff */
#room-title {
    position: relative;
    right: 50px;
}

.media-info {
    position: relative !important;
    right: 100px;
}

/* Hide the old username info */
.header>.nav-right {
    opacity: 0;
}

/* Move more stuff */
#volume-settings {
    position: relative !important;
    left: -10px !important;
}

/* Inputs */

input[type="text"] {
	background-color: #030C16;
}

/* Custom Button Colors */
.app-right-selector {
	background-color: #0f385c;
}

.selected {
    background-color: #195d99;
}

/* Custom Menu Stuff */
#menu {
    background-color: #030C16;
    opacity: .70;
}

/* Progress Bar */
#progress {
    background-color: #195d99;
}

/* Buttons */
button {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

button {
    border: 1px solid #2196F3;
    color: #2196F3;
    background-color: transparent;
}

button:hover,
button:focus {
    border: 1px solid #2196F3;
    outline: 0;
    color: #000;
    background-color: #2196F3;
}

#settings-autojoin {
    visibility: hidden;
}

.userDialog.hidden {
  display: block;
 pointer-events:none;
 opacity: 0;
}

.userDialog {
 opacity: .3;
 transition: opacity .2s ease-in-out;
 -moz-transition: opacity .2s ease-in-out;
 -webkit-transition: opacity .2s ease-in-out;
}

.userDialog:hover {
 opacity: 1;
 transition: opacity .2s ease-in-out;
 -moz-transition: opacity .2s ease-in-out;
 -webkit-transition: opacity .2s ease-in-out;
}

div.notification .notif-content {
  background-color: #172B40;
}

div.notification .notif-title {
    background-color: #1F3D5C;
}

#waitlist-join { width: 130px; }

#ratingbuttons {
    display: flex;
    position: absolute;
    height: 80px;
    bottom: 7px;
    width: 100px;
    right: 6px;
}
#ratingbuttons > div {
    position: absolute;
    width: 33%;
    height: 100%;
    overflow: visible;
}
#ratingbuttons > div > .count {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    right: -14px;
}
#ratingbuttons > div > button {
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}
#ratingbuttons img {
    position: absolute;
    top: 4px;
    opacity: 0.5;
    height: 40px;
    width: 40px;
    right: calc(50% - 20px);
}
#ratingbuttons button:focus {
    outline: 0;
}
#ratingbuttons #wootcontainer {
    left: 0;
    z-index: 3;
    background-color: transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#ratingbuttons #mehcontainer {
    right: 0;
    z-index: 3;
    background-color: transparent;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#ratingbuttons #grabcontainer {
    z-index: 2;
    left: 32%;
    width: 36%;
    background-color: transparent;
}
#ratingbuttons #btn-woot {
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: none;
}
#ratingbuttons #btn-meh {
    border-bottom: none;
    border-top: none;
	border-right: none;
    border-left: none;
}
#ratingbuttons #btn-grab {
    border-bottom: none;
    border-top: none !important;
    border-right: none;
    border-left: none;
}

#ratingbuttons button {
    opacity: .5;
}

#ratingbuttons button.active {
    background-color: transparent;
    opacity: 1;
}
#ratingbuttons button.active > img {
    opacity: 1;
}
#ratingbuttons #grab-playlists {
    display: none;
    position: absolute;
    top: -35px;
    left: -225%;
    width: calc(400% - 4px);
    background-color: transparent;
    padding: 5px 5%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid #2196F3;
    border-top: 2px solid #2196F3;
}
#ratingbuttons #grab-playlists span {
    display: block;
    position: relative;
    height: 25px;
    width: 100%;
    line-height: 25px;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    padding-left: 10px;
    cursor: pointer;
}

#ratingbuttons #grab-playlists span:hover {
    border: 1px solid lightblue;
}

#ratingbuttons #grab-playlists span.is-on-playlist::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0px;
    width: 16px;
    height: 16px;
    background-image: url("../img/grab.png");
    background-position: center;
    background-size: contain;
}
#ratingbuttons #grabcontainer {
    overflow: visible;
}
#ratingbuttons #grabcontainer:hover #grab-playlists {
    display: block;
}

#ratingbuttons img {
    position: absolute;
    top: 4px;
    opacity: 1;
    height: 40px;
    width: 40px;
    right: calc(50% - 20px);
}

#ratingbuttons #btn-woot.active, #ratingbuttons #btn-meh.active {
    background-color: transparent;
}

#ratingbuttons .is-on-playlist {
    color: #3ca2c3;
}

/* Fucking finally moved this shit */
#dj-history-button {
    right: 200px !important;
}

#time-left {
	right: 300px !important;
}

/* Fade Animations */
#playlists.hidden {
 display: block;
 pointer-events:none;
 opacity: 0;
}

#playlists {
 opacity: 1;
  transition: opacity .2s ease-in-out;
 -moz-transition: opacity .2s ease-in-out;
 -webkit-transition: opacity .2s ease-in-out;
}

div#djhistory-container.hidden {
 display: block;
 pointer-events:none;
 opacity: 0;
}

div#djhistory-container {
  opacity: 1;
  transition: opacity .2s ease-in-out;
 -moz-transition: opacity .2s ease-in-out;
 -webkit-transition: opacity .2s ease-in-out;
}

/* Modify the Rating buttons positioning slightly */
#ratingbuttons {
    right: 30px;
}

/* Scrollbars */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #135599;
  border: 0px none #ffffff;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1980eb;
}
::-webkit-scrollbar-thumb:active {
  background: #1c7fe4;
}
::-webkit-scrollbar-track {
  background: #0b2e52;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #124272;
}
::-webkit-scrollbar-track:active {
  background: #124272;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Countdown Stuff */
#countdown.hidden {
  background: #313131;
  width: 250px;
  margin: 20px;
  border: 2px solid #00FFF6;
  border-radius: 10px;
  z-index: 5;
  bottom: 0;
  text-align: center;
  margin-top: 60px;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  opacity: .2;
}

#countdown {
  background: #313131;
  width: 250px;
  margin: 20px;
  border: 2px solid #00FFF6;
  border-radius: 10px;
  z-index: 5;
  bottom: 0;
  text-align: center;
  margin-top: 60px;
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  opacity: .4;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

#countdown:hover {
  opacity: 1;
   transition: opacity .2s ease-in-out;
   -moz-transition: opacity .2s ease-in-out;
   -webkit-transition: opacity .2s ease-in-out;
}
